<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">
<head>
    <title>Netzfilm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Netzfilm - die heißesten Streifen nach Hause bestellen!</h1>
<div sec:authorize="hasRole('ROLE_CUSTOMER')">
    <p><a href="/rent">Leihen</a></p>
</div>

<div sec:authorize="hasRole('ROLE_STAFF')">
    <p><a href="/customers">Kunden</a></p>
    <p><a href="/movies">Filme</a></p>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p><a href="/actuator">Actuator</a></p>
    <p><a href="/swagger-ui/index.html">Swagger-UI</a></p>
</div>
<div sec:authorize="isAuthenticated()">
    <p><a href="/logout">Logout</a></p>
</div>

</body>
</html>
